$primary-color: #007bff;
$light-color: white;

$gradient-from: #000428;
$gradient-to: #004e92;

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;

  /* The actual timeline (the vertical ruler) */
  &:after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: $primary-color;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }

  /* Container around content */
  .container {
    position: relative;

    width: 50%;
    margin: initial;
    padding: 10px 40px;

    background-color: initial;
    box-sizing: border-box;


    /* The circles on the timeline */
    &:after {
      content: "";
      position: absolute;
      width: 25px;
      height: 25px;
      right: -16px;
      background-color: $gradient-from;
      border: 4px solid $gradient-to;
      top: 15px;
      border-radius: 50%;
      z-index: 1;
    }

    .inner {
      background-color: $light-color;
      color: $primary-color;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

      .head {
        display: flex;
        align-items: center;
        color: $light-color;
        background-color: $primary-color;

        .icon {
          margin: 20px;
          max-width: 50px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .title {
          font-size: 24px;
          text-transform: uppercase;

          span {
            display: block;
            font-size: 14px;
          }
        }
      }

      .body {
        background-color: $light-color;
        padding: 20px;
      }
    }


  }
}

/* Place the container to the left */
.left {
  left: 0;

  /* Add arrows to the left container (pointing right) */
  &:before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid $primary-color;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent $primary-color;
  }
}

/* Place the container to the right */
.right {
  left: 50%;

  /* Add arrows to the right container (pointing left) */
  &:before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid $primary-color;
    border-width: 10px 10px 10px 0;
    border-color: transparent $primary-color transparent transparent;
  }

  /* Fix the circle for containers on the right side */
  &:after {
    left: -16px;
  }
}

/*
#timeline--1 {
  top: 0px;
}

#timeline--2 {
  top: -180px;
}

#timeline--3 {
  top: -220px;
}
*/

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  .timeline {

    /* Place the timelime to the left */
    &:after {
      left: 31px;
    }

    /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;

      /* Make sure that all arrows are pointing leftwards */
      &:before {
        left: 60px;
        border: medium solid $primary-color;
        border-width: 10px 10px 10px 0;
        border-color: transparent $primary-color transparent transparent;
      }
    }
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 12px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }

  #timeline--1 {
    top: initial;
  }

  #timeline--2 {
    top: initial;
  }

  #timeline--3 {
    top: initial;
  }
}
